<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
</head>

<body>
    123
    <script>
        $(function () {
            $.ajax({
                url: "http://127.0.0.1:5000/api/post",
                type: 'post',
                data: {
                    name: 'abc',
                    age: 18
                },
                success({status,data}) {
                    console.info(data)
                }
            })
        })
    </script>
</body>

</html>